In [36]:
import pandas as pd
import numpy as np

In [37]:
january = pd.read_csv('../Data/csv_data/monthly/january_2023.csv')

In [38]:
january

          Date  Head Category    Category Note  Amount  Account
0   2023-01-01  Food & Drinks      Drinks  NaN  -61.87        2
1   2023-01-01  Food & Drinks    Take-out  NaN  -59.83        2
2   2023-01-01  Food & Drinks  Restaurant  NaN  -19.68        2
3   2023-01-01      Lifestyle    Pharmacy  NaN  -17.24        2
4   2023-01-02  Food & Drinks       Candy  NaN  -17.25        2
..         ...            ...         ...  ...     ...      ...
81  2023-01-30  Food & Drinks      Coffee  NaN   -4.92        2
82  2023-01-30  Food & Drinks      Coffee  NaN   -4.90        2
83  2023-01-31  Food & Drinks    Dine-out  NaN  -63.94        2
84  2023-01-31  Food & Drinks      Coffee  NaN  -11.00        2
85  2023-01-31  Food & Drinks      Coffee  NaN   -5.74        2

[86 rows x 6 columns]

In [39]:
january = january.drop(["Note"], axis=1)

In [41]:
january_debit = january[january['Account'] == 1]
january_credit = january[january['Account'] == 2]
january_savings = january[january['Account'] == 3]

In [42]:
january_debit.loc[:, 'Account Balance'] = 0
january_credit.loc[:, 'Account Balance'] = 0
january_savings.loc[:, 'Account Balance'] = 0

C:\Users\peter\AppData\Local\Temp\ipykernel_19632\3106032661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  january_debit.loc[:, 'Account Balance'] = 0
C:\Users\peter\AppData\Local\Temp\ipykernel_19632\3106032661.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  january_credit.loc[:, 'Account Balance'] = 0
C:\Users\peter\AppData\Local\Temp\ipykernel_19632\3106032661.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  january_savings.loc[:, 'Account Balance'] = 0

In [20]:
january_debit.at[6, 'Account Balance'] = 1000
january_credit.at[0, 'Account Balance'] = -1000

In [44]:
january_savings.at[7, 'Account Balance'] = 5018.00

In [23]:
january_credit.to_csv('Data/credit.csv')

In [24]:
january_debit.to_csv('Data/debit.csv')

In [46]:
january_debit = pd.read_csv('Data/debit.csv')
january_credit = pd.read_csv('Data/credit.csv')

In [51]:
january_debit = january_debit.drop(index=3)

In [53]:
january_debit.reset_index()

ValueError: cannot insert level_0, already exists

In [57]:
january_debit = january_debit.drop(columns=['index'])

In [60]:
january_debit.to_csv('Data/debit.csv')

In [63]:
january_savings.to_csv('Data/savings.csv')

In [64]:
january_savings = pd.read_csv('Data/savings.csv')

In [65]:
accounts = [january_debit, january_credit, january_savings]

In [66]:
all_accounts = pd.concat(accounts)

In [67]:
all_accounts.sort_values(by=['Date'], inplace=True)

In [69]:
all_accounts = all_accounts.reset_index(drop=True)

In [74]:
all_accounts = all_accounts.drop(columns=['Unnamed: 0'])

In [75]:
all_accounts.to_csv('Data/transactions.csv')

In [80]:
february = pd.read_csv('../Data/csv_data/monthly/febuary_2023.csv')

In [81]:
february = february.drop(columns=['Note'])

In [82]:
february

          Date  Head Category      Category  Amount  Account
0   2023-02-01        Housing          Rent -650.00        1
1   2023-02-01        Housing          Bank    4.93        3
2   2023-02-01  Food & Drinks      Dine-out  -30.38        2
3   2023-02-01  Food & Drinks        Coffee   -4.90        2
4   2023-02-01  Food & Drinks        Coffee   -4.90        2
..         ...            ...           ...     ...      ...
94  2023-02-27  Food & Drinks      Dine-out  -30.38        2
95  2023-02-27  Food & Drinks      Dine-out  -34.93        2
96  2023-02-27  Food & Drinks      Dine-out  -24.06        2
97  2023-02-27  Food & Drinks        Coffee   -4.93        2
98  2023-02-28  Entertainment  Subscription   -9.99        2

[99 rows x 5 columns]

In [83]:
february_debit = february[february['Account'] == 1]
february_credit = february[february['Account'] == 2]
february_savings = february[february['Account'] == 3]

In [84]:
february_debit.loc[:, 'Account Balance'] = 0
february_credit.loc[:, 'Account Balance'] = 0
february_savings.loc[:, 'Account Balance'] = 0

C:\Users\peter\AppData\Local\Temp\ipykernel_19632\2790503732.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  february_debit.loc[:, 'Account Balance'] = 0
C:\Users\peter\AppData\Local\Temp\ipykernel_19632\2790503732.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  february_credit.loc[:, 'Account Balance'] = 0
C:\Users\peter\AppData\Local\Temp\ipykernel_19632\2790503732.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  february_savings.loc[:, 'Account Balance'] = 0

In [85]:
february_credit

          Date  Head Category      Category  Amount  Account  Account Balance
2   2023-02-01  Food & Drinks      Dine-out  -30.38        2                0
3   2023-02-01  Food & Drinks        Coffee   -4.90        2                0
4   2023-02-01  Food & Drinks        Coffee   -4.90        2                0
5   2023-02-01  Food & Drinks        Coffee   -4.93        2                0
6   2023-02-02  Food & Drinks        Coffee   -9.88        2                0
..         ...            ...           ...     ...      ...              ...
94  2023-02-27  Food & Drinks      Dine-out  -30.38        2                0
95  2023-02-27  Food & Drinks      Dine-out  -34.93        2                0
96  2023-02-27  Food & Drinks      Dine-out  -24.06        2                0
97  2023-02-27  Food & Drinks        Coffee   -4.93        2                0
98  2023-02-28  Entertainment  Subscription   -9.99        2                0

[87 rows x 6 columns]

In [87]:
february_debit.to_csv('Data/february_debit.csv')
february_credit.to_csv('Data/february_credit.csv')
february_savings.to_csv('Data/february_savings.csv')

In [88]:
february_debit = pd.read_csv('Data/february_debit.csv')
february_credit = pd.read_csv('Data/february_credit.csv')
february_savings = pd.read_csv('Data/february_savings.csv')

In [89]:
accounts = [february_debit, february_credit, february_savings]

In [90]:
all_accounts = pd.concat(accounts)

all_accounts.sort_values(by=['Date'], inplace=True)
all_accounts = all_accounts.reset_index(drop=True)

In [92]:
all_accounts = all_accounts.drop(columns=['Unnamed: 0'])
all_accounts.to_csv('Data/feb_transactions.csv')