In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [3]:
Transactions = pd.read_csv('../data/Output.csv')

In [4]:
Transactions

,Date,Description,Amount,TransactionType,Category,AccountNumber
0,01/01/2018,Amazon,11.11,debit,Shopping,95028-6611199
1,01/02/2018,Mortgage Payment,1247.44,debit,Mortgage & Rent,95028-5949457
2,01/02/2018,Thai Restaurant,24.22,debit,Restaurants,95028-1307804
3,01/04/2018,Netflix,11.76,debit,Movies & DVDs,95028-6611199
4,01/05/2018,American Tavern,25.85,debit,Restaurants,95028-1307804
...,...,...,...,...,...,...
758,09/27/2019,Biweekly Paycheck,2250.00,credit,Paycheck,95028-5949457
759,09/28/2019,BP,33.46,debit,Gas & Fuel,95028-6611199
760,09/28/2019,Sheetz,4.27,debit,Gas & Fuel,95028-6611199
761,09/30/2019,Starbucks,1.75,debit,Coffee Shops,95028-6611199
762,09/30/2019,Internet Service Provider,75.00,debit,Internet,95028-5949457

In [5]:
Transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 763 entries, 0 to 762
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             763 non-null    object
 1   Description      763 non-null    object
 2   Amount           763 non-null    float64
 3   TransactionType  763 non-null    object
 4   Category         763 non-null    object
 5   AccountNumber    763 non-null    object
dtypes: float64(1), object(5)
memory usage: 35.9+ KB

In [6]:
Transactions['Date'][0]

'01/01/2018'

In [10]:
print(datetime.date(2018,1, 1))

2018-01-01