In [1]:
import pandas as pd
import numpy as np
from faker import Faker

In [2]:
fake = Faker()

In [4]:
Transactions = pd.read_csv('../data/Output.csv')

In [11]:
Transactions

,Date,Description,Amount,Transaction Type,Category,Account Number
0,01/01/2018,Amazon,11.11,debit,Shopping,95028-6611199
1,01/02/2018,Mortgage Payment,1247.44,debit,Mortgage & Rent,95028-5949457
2,01/02/2018,Thai Restaurant,24.22,debit,Restaurants,95028-1307804
3,01/04/2018,Netflix,11.76,debit,Movies & DVDs,95028-6611199
4,01/05/2018,American Tavern,25.85,debit,Restaurants,95028-1307804
...,...,...,...,...,...,...
758,09/27/2019,Biweekly Paycheck,2250.00,credit,Paycheck,95028-5949457
759,09/28/2019,BP,33.46,debit,Gas & Fuel,95028-6611199
760,09/28/2019,Sheetz,4.27,debit,Gas & Fuel,95028-6611199
761,09/30/2019,Starbucks,1.75,debit,Coffee Shops,95028-6611199
762,09/30/2019,Internet Service Provider,75.00,debit,Internet,95028-5949457

In [7]:
AccountBalances = pd.DataFrame(columns=Transactions['Account Number'].unique())

In [8]:
AccountBalances.head()

Empty DataFrame
Columns: [95028-6611199, 95028-5949457, 95028-1307804]
Index: []

In [10]:
account_1 = 100000
account_2 = 100000
account_3 = 100000