In [1]:
from faker import Faker
from faker.providers import BaseProvider, DynamicProvider
import pandas as pd

In [2]:
fake = Faker()

# Random Finance Data Generator

## Generate random people with accounts
For this we need the following
- Person
    - Name
    - DOB
    - Accounts and numbers

In [4]:
transactions_df = pd.read_csv('../Data/personal_transactions.csv')

In [5]:
transactions_df.head()

,Date,Description,Amount,Transaction Type,Category,Account Name
0,01/01/2018,Amazon,11.11,debit,Shopping,Platinum Card
1,01/02/2018,Mortgage Payment,1247.44,debit,Mortgage & Rent,Checking
2,01/02/2018,Thai Restaurant,24.22,debit,Restaurants,Silver Card
3,01/03/2018,Credit Card Payment,2298.09,credit,Credit Card Payment,Platinum Card
4,01/04/2018,Netflix,11.76,debit,Movies & DVDs,Platinum Card

In [6]:
print(transactions_df.Category.unique())

['Shopping' 'Mortgage & Rent' 'Restaurants' 'Credit Card Payment'
 'Movies & DVDs' 'Home Improvement' 'Utilities' 'Music' 'Mobile Phone'
 'Gas & Fuel' 'Groceries' 'Paycheck' 'Fast Food' 'Coffee Shops' 'Internet'
 'Haircut' 'Alcohol & Bars' 'Auto Insurance' 'Entertainment'
 'Food & Dining' 'Television' 'Electronics & Software']

In [7]:
print(transactions_df['Account Name'].unique())

['Platinum Card' 'Checking' 'Silver Card']

In [8]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806 entries, 0 to 805
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              806 non-null    object
 1   Description       806 non-null    object
 2   Amount            806 non-null    float64
 3   Transaction Type  806 non-null    object
 4   Category          806 non-null    object
 5   Account Name      806 non-null    object
dtypes: float64(1), object(5)
memory usage: 37.9+ KB

In [24]:
new_transactions_df = transactions_df

In [10]:
transit = fake.numerify('#####')

In [12]:
chequing = transit + fake.numerify('-#######')
platinum = transit + fake.numerify('-#######')
silver = transit + fake.numerify('-#######')

In [83]:
print(platinum)

95028-6611199

In [25]:
new_transactions_df = new_transactions_df.rename(columns={"Account Name": "Account Number"})

In [26]:
account_name_to_number = {'Checking': chequing, 'Platinum Card': platinum, 'Silver Card': silver}

In [27]:
new_transactions_df['Account Number'] = new_transactions_df['Account Number'].map(account_name_to_number)

In [28]:
new_transactions_df.head()

,Date,Description,Amount,Transaction Type,Category,Account Number
0,01/01/2018,Amazon,11.11,debit,Shopping,95028-6611199
1,01/02/2018,Mortgage Payment,1247.44,debit,Mortgage & Rent,95028-5949457
2,01/02/2018,Thai Restaurant,24.22,debit,Restaurants,95028-1307804
3,01/03/2018,Credit Card Payment,2298.09,credit,Credit Card Payment,95028-6611199
4,01/04/2018,Netflix,11.76,debit,Movies & DVDs,95028-6611199

In [29]:
credits = new_transactions_df[new_transactions_df['Transaction Type'] == 'credit']

In [37]:
credits.head()

,Date,Description,Amount,Transaction Type,Category,Account Number
3,01/03/2018,Credit Card Payment,2298.09,credit,Credit Card Payment,95028-6611199
13,01/12/2018,Biweekly Paycheck,2000.00,credit,Paycheck,95028-5949457
20,01/19/2018,Biweekly Paycheck,2000.00,credit,Paycheck,95028-5949457
22,01/22/2018,Credit Card Payment,554.99,credit,Credit Card Payment,95028-6611199
23,01/22/2018,Credit Card Payment,309.81,credit,Credit Card Payment,95028-1307804

In [36]:
new_transactions_df.Description.unique()

array(['Amazon', 'Mortgage Payment', 'Thai Restaurant',
       'Credit Card Payment', 'Netflix', 'American Tavern',
       'Hardware Store', 'Gas Company', 'Spotify', 'Phone Company',
       'Shell', 'Grocery Store', 'Biweekly Paycheck', 'Pizza Place',
       'City Water Charges', 'Power Company', 'Starbucks',
       'Internet Service Provider', 'Brunch Restaurant',
       'Japanese Restaurant', 'Barbershop', 'Bojangles',
       'Fancy Restaurant', 'Brewing Company', 'Mexican Restaurant',
       'Gas Station', 'BBQ Restaurant', 'BP', 'Mediterranean Restaurant',
       'Steakhouse', 'Belgian Restaurant', "Chili's", 'Greek Restaurant',
       'Amazon Video', 'Chevron', 'Tiny Deli', 'Irish Pub',
       'Blue Sky Market', 'State Farm', 'QuikTrip',
       "Mike's Construction Co.", 'Liquor Store', 'Movie Theater',
       'Italian Restaurant', 'Chick-Fil-A', 'Go Mart', 'Circle K',
       "Wendy's", 'Irish Restaurant', 'Conoco', 'Valero',
       'Sushi Restaurant', 'Exxon', 'German Restaurant',
       'Seafood Restaurant', 'Food Truck', 'Latin Restaurant',
       'New York Deli', 'Roadside Diner', 'Bakery Place', 'Best Buy',
       'Vietnamese Restaurant', 'Target', 'Hawaiian Grill', 'Sheetz'],
      dtype=object)

In [35]:
credits.Description.unique()

array(['Credit Card Payment', 'Biweekly Paycheck'], dtype=object)

In [38]:
credit_card_payments_df = new_transactions_df[new_transactions_df['Category'] == 'Credit Card Payment']

In [42]:
credit_card_payments_df.head(n=15)

,Date,Description,Amount,Transaction Type,Category,Account Number
3,01/03/2018,Credit Card Payment,2298.09,credit,Credit Card Payment,95028-6611199
22,01/22/2018,Credit Card Payment,554.99,credit,Credit Card Payment,95028-6611199
23,01/22/2018,Credit Card Payment,309.81,credit,Credit Card Payment,95028-1307804
24,01/22/2018,Credit Card Payment,554.99,debit,Credit Card Payment,95028-5949457
26,01/23/2018,Credit Card Payment,309.81,debit,Credit Card Payment,95028-5949457
38,02/05/2018,Credit Card Payment,145.14,credit,Credit Card Payment,95028-6611199
39,02/06/2018,Credit Card Payment,154.13,credit,Credit Card Payment,95028-1307804
40,02/07/2018,Credit Card Payment,154.13,debit,Credit Card Payment,95028-5949457
58,02/26/2018,Credit Card Payment,765.37,credit,Credit Card Payment,95028-6611199
59,02/26/2018,Credit Card Payment,156.11,credit,Credit Card Payment,95028-1307804
60,02/26/2018,Credit Card Payment,765.37,debit,Credit Card Payment,95028-5949457
64,02/27/2018,Credit Card Payment,156.11,debit,Credit Card Payment,95028-5949457
74,03/05/2018,Credit Card Payment,761.59,credit,Credit Card Payment,95028-1307804
75,03/05/2018,Credit Card Payment,761.59,debit,Credit Card Payment,95028-5949457
96,03/23/2018,Credit Card Payment,559.91,credit,Credit Card Payment,95028-6611199

In [43]:
debits_df = credit_card_payments_df[credit_card_payments_df['Transaction Type'] == 'debit']

In [44]:
debits_df.head()

,Date,Description,Amount,Transaction Type,Category,Account Number
24,01/22/2018,Credit Card Payment,554.99,debit,Credit Card Payment,95028-5949457
26,01/23/2018,Credit Card Payment,309.81,debit,Credit Card Payment,95028-5949457
40,02/07/2018,Credit Card Payment,154.13,debit,Credit Card Payment,95028-5949457
60,02/26/2018,Credit Card Payment,765.37,debit,Credit Card Payment,95028-5949457
64,02/27/2018,Credit Card Payment,156.11,debit,Credit Card Payment,95028-5949457

In [45]:
debits_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71 entries, 24 to 798
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              71 non-null     object
 1   Description       71 non-null     object
 2   Amount            71 non-null     float64
 3   Transaction Type  71 non-null     object
 4   Category          71 non-null     object
 5   Account Number    71 non-null     object
dtypes: float64(1), object(5)
memory usage: 3.9+ KB

In [46]:
credits_df = credit_card_payments_df[credit_card_payments_df['Transaction Type'] == 'credit']

In [47]:
credits_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72 entries, 3 to 796
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              72 non-null     object
 1   Description       72 non-null     object
 2   Amount            72 non-null     float64
 3   Transaction Type  72 non-null     object
 4   Category          72 non-null     object
 5   Account Number    72 non-null     object
dtypes: float64(1), object(5)
memory usage: 3.9+ KB

In [75]:
debits_merged = debits_df.merge(credits_df, on='Amount', how='left', indicator=True)
credits_merged = credits_df.merge(debits_df, on='Amount', how='left', indicator=True)

In [76]:
credits = credits_merged[credits_merged['_merge'] != 'both']
debits = debits_merged[debits_merged['_merge'] != 'both']

In [77]:
credits = credits.drop(columns='_merge')
debits = debits.drop(columns='_merge')

In [78]:
credits = credits.dropna(axis=1)
debits = debits.dropna(axis=1)

In [79]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, 0 to 70
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date_x              22 non-null     object
 1   Description_x       22 non-null     object
 2   Amount              22 non-null     float64
 3   Transaction Type_x  22 non-null     object
 4   Category_x          22 non-null     object
 5   Account Number_x    22 non-null     object
dtypes: float64(1), object(5)
memory usage: 1.2+ KB

In [80]:
credits

,Date_x,Description_x,Amount,Transaction Type_x,Category_x,Account Number_x
0,01/03/2018,Credit Card Payment,2298.09,credit,Credit Card Payment,95028-6611199
3,02/05/2018,Credit Card Payment,145.14,credit,Credit Card Payment,95028-6611199
14,05/19/2018,Credit Card Payment,207.08,credit,Credit Card Payment,95028-6611199
17,06/02/2018,Credit Card Payment,466.36,credit,Credit Card Payment,95028-6611199
25,08/02/2018,Credit Card Payment,816.27,credit,Credit Card Payment,95028-6611199
27,08/15/2018,Credit Card Payment,159.38,credit,Credit Card Payment,95028-6611199
31,09/14/2018,Credit Card Payment,134.34,credit,Credit Card Payment,95028-6611199
35,10/21/2018,Credit Card Payment,544.37,credit,Credit Card Payment,95028-6611199
38,11/20/2018,Credit Card Payment,421.96,credit,Credit Card Payment,95028-6611199
40,11/29/2018,Credit Card Payment,751.50,credit,Credit Card Payment,95028-6611199
43,12/29/2018,Credit Card Payment,860.05,credit,Credit Card Payment,95028-6611199
48,03/13/2019,Credit Card Payment,532.86,credit,Credit Card Payment,95028-6611199
50,03/31/2019,Credit Card Payment,957.60,credit,Credit Card Payment,95028-6611199
51,04/01/2019,Credit Card Payment,600.51,credit,Credit Card Payment,95028-6611199
53,04/18/2019,Credit Card Payment,458.10,credit,Credit Card Payment,95028-6611199
55,05/17/2019,Credit Card Payment,575.33,credit,Credit Card Payment,95028-6611199
57,06/03/2019,Credit Card Payment,260.95,credit,Credit Card Payment,95028-6611199
61,07/09/2019,Credit Card Payment,549.72,credit,Credit Card Payment,95028-6611199
62,07/19/2019,Credit Card Payment,115.52,credit,Credit Card Payment,95028-6611199
64,08/05/2019,Credit Card Payment,349.28,credit,Credit Card Payment,95028-6611199
66,08/17/2019,Credit Card Payment,87.17,credit,Credit Card Payment,95028-6611199
70,09/17/2019,Credit Card Payment,186.13,credit,Credit Card Payment,95028-6611199

In [81]:
debits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, 33 to 69
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date_x              21 non-null     object
 1   Description_x       21 non-null     object
 2   Amount              21 non-null     float64
 3   Transaction Type_x  21 non-null     object
 4   Category_x          21 non-null     object
 5   Account Number_x    21 non-null     object
dtypes: float64(1), object(5)
memory usage: 1.1+ KB

In [82]:
debits

,Date_x,Description_x,Amount,Transaction Type_x,Category_x,Account Number_x
33,01/02/2019,Credit Card Payment,499.60,debit,Credit Card Payment,95028-5949457
35,01/09/2019,Credit Card Payment,281.84,debit,Credit Card Payment,95028-5949457
37,01/31/2019,Credit Card Payment,1900.00,debit,Credit Card Payment,95028-5949457
38,02/11/2019,Credit Card Payment,133.95,debit,Credit Card Payment,95028-5949457
40,02/19/2019,Credit Card Payment,574.84,debit,Credit Card Payment,95028-5949457
42,03/06/2019,Credit Card Payment,491.86,debit,Credit Card Payment,95028-5949457
43,03/14/2019,Credit Card Payment,305.27,debit,Credit Card Payment,95028-5949457
45,04/01/2019,Credit Card Payment,1552.65,debit,Credit Card Payment,95028-5949457
46,04/09/2019,Credit Card Payment,436.75,debit,Credit Card Payment,95028-5949457
49,05/03/2019,Credit Card Payment,758.07,debit,Credit Card Payment,95028-5949457
50,05/13/2019,Credit Card Payment,480.88,debit,Credit Card Payment,95028-5949457
51,05/20/2019,Credit Card Payment,415.47,debit,Credit Card Payment,95028-5949457
53,06/07/2019,Credit Card Payment,458.56,debit,Credit Card Payment,95028-5949457
55,06/20/2019,Credit Card Payment,375.26,debit,Credit Card Payment,95028-5949457
57,07/08/2019,Credit Card Payment,305.28,debit,Credit Card Payment,95028-5949457
59,07/18/2019,Credit Card Payment,814.50,debit,Credit Card Payment,95028-5949457
61,08/06/2019,Credit Card Payment,521.17,debit,Credit Card Payment,95028-5949457
63,08/15/2019,Credit Card Payment,335.20,debit,Credit Card Payment,95028-5949457
64,08/19/2019,Credit Card Payment,1248.95,debit,Credit Card Payment,95028-5949457
66,09/06/2019,Credit Card Payment,502.75,debit,Credit Card Payment,95028-5949457
69,09/18/2019,Credit Card Payment,1606.46,debit,Credit Card Payment,95028-5949457

In [89]:
temp = new_transactions_df[new_transactions_df['Account Number'] == silver]

In [90]:
temp

,Date,Description,Amount,Transaction Type,Category,Account Number
2,01/02/2018,Thai Restaurant,24.22,debit,Restaurants,95028-1307804
5,01/05/2018,American Tavern,25.85,debit,Restaurants,95028-1307804
6,01/06/2018,Hardware Store,18.45,debit,Home Improvement,95028-1307804
8,01/08/2018,Hardware Store,15.38,debit,Home Improvement,95028-1307804
16,01/15/2018,Grocery Store,44.19,debit,Groceries,95028-1307804
...,...,...,...,...,...,...
776,09/09/2019,Grocery Store,65.09,debit,Groceries,95028-1307804
777,09/09/2019,Hardware Store,26.25,debit,Home Improvement,95028-1307804
780,09/11/2019,Credit Card Payment,360.56,credit,Credit Card Payment,95028-1307804
788,09/16/2019,Credit Card Payment,90.57,credit,Credit Card Payment,95028-1307804
796,09/20/2019,Credit Card Payment,9.43,credit,Credit Card Payment,95028-1307804

In [92]:
new_transactions_df.to_excel('transactions.xlsx')