# Fake People
In this notebook, we'll generate random people with random jobs.
The goal is to create recurring transactions

In [11]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from faker import Faker
from faker.providers import BaseProvider, DynamicProvider
import datetime

In [2]:
fake = Faker()

## Create person class

In [3]:
class Person:
    firstName: str
    lastName: str
    birthday: str
    gender: str
    job: str
    salary: float
    
    def __init__(self, gender='Not Specified', job=None):
        
        if gender == 'Not Specified':
            self.firstName = fake.first_name_nonbinary()
        elif gender == 'Male':
            self.firstName = fake.first_name_male()
        elif gender == 'Female':
            self.firstName = fake.first_name_female()
            
        self.lastName = fake.last_name()
        self.birthday = fake.date_of_birth(minimum_age=16, maximum_age=80)
        
        if job is None:
            self.job = fake.job()
        else:
            self.job = job
            
        self.salary = fake.pyfloat(right_digits=2, positive=True, min_value=400, max_value=30000)

In [4]:
person = Person(gender='Male')

## Create recurring income

In [9]:
hire_date = fake.date_between(start_date='-5y', end_date='-1y')

In [10]:
hire_date

datetime.date(2021, 5, 4)

In [12]:
end_date = datetime.date.today()

In [13]:
delta = datetime.timedelta(days=14)

In [16]:
salary_df = pd.DataFrame(columns=['Date', 'Description', 'Amount', 'Transaction Type', 'Category', 'Account Number'])

In [17]:
current_date = hire_date

while current_date <= end_date:
    new_row = {'Date': current_date, 'Description': 'Salary', 'Amount': person.salary, 'Transaction Type': 'credit', 'Category': 'Salary', 'Account Number': '12345-1234567'}
    salary_df.loc[len(salary_df)] = new_row
    current_date += delta

In [18]:
salary_df

          Date Description  Amount Transaction Type Category Account Number
0   2021-05-04      Salary  977.17           credit   Salary  12345-1234567
1   2021-05-18      Salary  977.17           credit   Salary  12345-1234567
2   2021-06-01      Salary  977.17           credit   Salary  12345-1234567
3   2021-06-15      Salary  977.17           credit   Salary  12345-1234567
4   2021-06-29      Salary  977.17           credit   Salary  12345-1234567
..         ...         ...     ...              ...      ...            ...
69  2023-12-26      Salary  977.17           credit   Salary  12345-1234567
70  2024-01-09      Salary  977.17           credit   Salary  12345-1234567
71  2024-01-23      Salary  977.17           credit   Salary  12345-1234567
72  2024-02-06      Salary  977.17           credit   Salary  12345-1234567
73  2024-02-20      Salary  977.17           credit   Salary  12345-1234567

[74 rows x 6 columns]

In [19]:
account_balance = salary_df['Amount'].sum()

In [20]:
account_balance

72310.57999999999